
row {
   margin-left: 10px;
   margin-right: 20px;
}

label {
   margin-right: 30px;
}


textarea {
   width:200px;
   overflow-y: scroll;

}

form {
   display: flex;
   flex-wrap: wrap;
}

form .materialize-textarea {
   width: 200px;
   height: 150px;
   padding: 12px 20px;
   margin-bottom: 0px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   background-color: #f8f8f8;
   resize: none;
   overflow-y: scroll;
}

#resultsArea{
   width: 400px;
   height: 150px;
   padding: 12px 20px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   background-color: #f8f8f8;
   resize: none;
   overflow-y: scroll;
}

body > div.row > form {
   display: flex;
   flex-direction: row;
}

.brand-logo {
   margin-left: 20px;
}

#btn-group {
   align-content: center;
}

#radioGroupPicker {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#radioGroupHeader {
   display: flex;
   align-items: center;
}

.cardPanelHeader {
   text-shadow: grey 5px 5px 20px;
}

@media screen and (max-width: 690px) {
   #resultsArea{
      width: 200px;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      resize: none;
      overflow-y: scroll;
   }
   
   #radioGroup {
      flex-direction: column;
   }
   
}
